<a href="https://colab.research.google.com/github/gururajan3/Check/blob/master/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries

In [0]:
import pandas as pd

## Load all Dataframes

In [0]:
questionsds = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Questions.csv',encoding='ISO-8859-1')
questionsds.head()

    Id  ...                                               Body
0   80  ...  <p>I've written a database generation script i...
1   90  ...  <p>Are there any really good tutorials explain...
2  120  ...  <p>Has anyone got experience creating <strong>...
3  180  ...  <p>This is something I've pseudo-solved many t...
4  260  ...  <p>I have a little game written in C#. It uses...

[5 rows x 7 columns]

In [0]:
answerds = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Answers.csv',encoding='ISO-8859-1')
answerds.head()

    Id  OwnerUserId  ... Score                                               Body
0   92         61.0  ...    13  <p><a href="http://svnbook.red-bean.com/">Vers...
1  124         26.0  ...    12  <p>I wound up using this. It is a kind of a ha...
2  199         50.0  ...     1  <p>I've read somewhere the human eye can't dis...
3  269         91.0  ...     4  <p>Yes, I thought about that, but I soon figur...
4  307         49.0  ...    28  <p><a href="http://www.codeproject.com/Article...

[5 rows x 6 columns]

In [0]:
tagsds = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Tags.csv',encoding='ISO-8859-1')
tagsds.head()

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air
3  90             svn
4  90     tortoisesvn

In [59]:
usersds = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Users.csv',encoding='ISO-8859-1')
usersds.head()

   Unnamed: 0  id display_name  ... up_votes down_votes  views
0           0  26        Shawn  ...      565         67   3547
1           1  26        Shawn  ...      565         67   3547
2           2  26        Shawn  ...      565         67   3547
3           3  26        Shawn  ...      565         67   3547
4           4  26        Shawn  ...      565         67   3547

[5 rows x 9 columns]

## Check shape of all Dataframe

In [0]:
questionsds.shape

(1264216, 7)

In [0]:
answerds.shape

(2014516, 6)

In [60]:
tagsds.shape

(3750994, 2)

In [0]:
usersds.shape

(1990480, 9)

## Check for null Values and calculate the percentage of them

In [0]:
questionsds.isnull().sum()

Id                    0
OwnerUserId       14454
CreationDate          0
ClosedDate      1208257
Score                 0
Title                 0
Body                  0
dtype: int64

In [0]:
answerds.isnull().sum()

Id                  0
OwnerUserId     13200
CreationDate        0
ParentId            0
Score               0
Body                0
dtype: int64

In [61]:
tagsds.isnull().sum()

Id        0
Tag    1113
dtype: int64

In [0]:
usersds.isnull().sum()

Unnamed: 0            0
id                    0
display_name        136
creation_date         0
last_access_date      0
reputation            0
up_votes              0
down_votes            0
views                 0
dtype: int64

In [0]:
missingPercForOwner = (questionsds.OwnerUserId.isnull().sum()/len(questionsds.OwnerUserId)) * 100
print (missingPercForOwner)

1.1433172812240946

In [0]:
missingPercClosedDate = (questionsds.ClosedDate.isnull().sum()/len(questionsds.ClosedDate)) * 100
print (missingPercClosedDate)

95.57362033070298

In [0]:
missingPercForOwnerInAnswer = (answerds.OwnerUserId.isnull().sum()/len(answerds.OwnerUserId)) * 100
print (missingPercForOwnerInAnswer)

0.6552442373254916

In [62]:
missingTags = (tagsds.Tag.isnull().sum()/len(tagsds.Tag)) * 100
print (missingTags)

0.029672134906107556

##Drop unused Columns

In [0]:
usersds.drop(usersds.columns[0], axis =1, inplace= True)
usersds.head()

   id display_name               creation_date  ... up_votes  down_votes  views
0  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
1  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
2  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
3  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
4  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547

[5 rows x 8 columns]

##Remove Duplicates in User Data Frame

In [0]:
usersds.duplicated().sum()

1525020

In [0]:
userDuplicatePerc = (usersds.duplicated().sum()/len(usersds)) * 100
print (userDuplicatePerc)

76.61569068767332

In [0]:
usersds.drop_duplicates(keep=False,inplace=True)
usersds.shape

(260680, 8)

In [0]:
userDuplicatePercCheck = (usersds.duplicated().sum()/len(usersds)) * 100
print (userDuplicatePercCheck)

0.0

In [63]:
tagsds.Tag.duplicated().sum()

3713959

In [64]:
tagsds[tagsds.Tag.duplicated()]

               Id            Tag
22            470           .net
28            650             c#
32            810  visual-studio
35            930             c#
39           1010             c#
...           ...            ...
3750989  40143360     javascript
3750990  40143360         vue.js
3750991  40143380            npm
3750992  40143380          mocha
3750993  40143380          babel

[3713959 rows x 2 columns]

In [65]:
tagsDuplicatePerc = (tagsds.Tag.duplicated().sum()/len(tagsds)) * 100
print (tagsDuplicatePerc)

99.01266171046927

In [66]:
len(tagsds.Tag.unique())

37035

In [67]:
# sorting by first name 
tagsds.sort_values("Tag", inplace = True) 
  
# dropping ALL duplicte values 
tagsds.drop_duplicates(subset ="Tag",keep = 'first', inplace = True)
tagsds.shape

(37035, 2)