<a href="https://colab.research.google.com/github/gururajan3/Check/blob/master/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries

In [0]:
import pandas as pd

## Load all Dataframes

In [0]:
questionsds = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Questions.csv',encoding='ISO-8859-1')
questionsds.head()

    Id  ...                                               Body
0   80  ...  <p>I've written a database generation script i...
1   90  ...  <p>Are there any really good tutorials explain...
2  120  ...  <p>Has anyone got experience creating <strong>...
3  180  ...  <p>This is something I've pseudo-solved many t...
4  260  ...  <p>I have a little game written in C#. It uses...

[5 rows x 7 columns]

In [0]:
answerds = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Answers.csv',encoding='ISO-8859-1')
answerds.head()

    Id  OwnerUserId  ... Score                                               Body
0   92         61.0  ...    13  <p><a href="http://svnbook.red-bean.com/">Vers...
1  124         26.0  ...    12  <p>I wound up using this. It is a kind of a ha...
2  199         50.0  ...     1  <p>I've read somewhere the human eye can't dis...
3  269         91.0  ...     4  <p>Yes, I thought about that, but I soon figur...
4  307         49.0  ...    28  <p><a href="http://www.codeproject.com/Article...

[5 rows x 6 columns]

In [68]:
tagsds = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Tags.csv',encoding='ISO-8859-1')
tagsds.head()

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air
3  90             svn
4  90     tortoisesvn

In [87]:
usersds = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Users.csv',encoding='ISO-8859-1')
usersds.head()

   Unnamed: 0  id display_name  ... up_votes down_votes  views
0           0  26        Shawn  ...      565         67   3547
1           1  26        Shawn  ...      565         67   3547
2           2  26        Shawn  ...      565         67   3547
3           3  26        Shawn  ...      565         67   3547
4           4  26        Shawn  ...      565         67   3547

[5 rows x 9 columns]

## Check shape of all Dataframe

In [0]:
questionsds.shape

(1264216, 7)

In [0]:
answerds.shape

(2014516, 6)

In [69]:
tagsds.shape

(3750994, 2)

In [0]:
usersds.shape

(1990480, 9)

## Check for null Values and calculate the percentage of them

In [0]:
questionsds.isnull().sum()

Id                    0
OwnerUserId       14454
CreationDate          0
ClosedDate      1208257
Score                 0
Title                 0
Body                  0
dtype: int64

In [0]:
answerds.isnull().sum()

Id                  0
OwnerUserId     13200
CreationDate        0
ParentId            0
Score               0
Body                0
dtype: int64

In [61]:
tagsds.isnull().sum()

Id        0
Tag    1113
dtype: int64

In [0]:
usersds.isnull().sum()

Unnamed: 0            0
id                    0
display_name        136
creation_date         0
last_access_date      0
reputation            0
up_votes              0
down_votes            0
views                 0
dtype: int64

In [0]:
missingPercForOwner = (questionsds.OwnerUserId.isnull().sum()/len(questionsds.OwnerUserId)) * 100
print (missingPercForOwner)

1.1433172812240946

In [0]:
missingPercClosedDate = (questionsds.ClosedDate.isnull().sum()/len(questionsds.ClosedDate)) * 100
print (missingPercClosedDate)

95.57362033070298

In [0]:
missingPercForOwnerInAnswer = (answerds.OwnerUserId.isnull().sum()/len(answerds.OwnerUserId)) * 100
print (missingPercForOwnerInAnswer)

0.6552442373254916

In [62]:
missingTags = (tagsds.Tag.isnull().sum()/len(tagsds.Tag)) * 100
print (missingTags)

0.029672134906107556

##Drop unused Columns

In [88]:
usersds.drop(usersds.columns[0], axis =1, inplace= True)
usersds.head()

   id display_name               creation_date  ... up_votes  down_votes  views
0  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
1  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
2  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
3  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
4  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547

[5 rows x 8 columns]

##Remove Duplicates in User Data Frame

In [84]:
usersds.duplicated().sum()

1525020

In [89]:
userDuplicatePerc = (usersds.duplicated().sum()/len(usersds)) * 100
print (userDuplicatePerc)

76.61569068767332

In [92]:
len(usersds.display_name.unique())

389235

In [93]:
usersds.drop_duplicates(keep='last',inplace=True)
usersds.shape

(465460, 8)

In [94]:
userDuplicatePercCheck = (usersds.duplicated().sum()/len(usersds)) * 100
print (userDuplicatePercCheck)

0.0

In [99]:
usersds[usersds['display_name'].duplicated()]

              id display_name  ... down_votes views
5683         667         Evan  ...          9   171
6693         922        Jamie  ...         44   596
6983         238          Pat  ...         18   768
7823         230          Dan  ...        185  1451
8325        1236         Nick  ...          0    94
...          ...          ...  ...        ...   ...
1990455  7044100         Toad  ...          0     0
1990458  7040778       Sonali  ...          0     5
1990463  6098101   Paul Smith  ...          0     6
1990470  6906486          Sam  ...          0     0
1990476  6820506      Manuela  ...          0    50

[76225 rows x 8 columns]

## Rename Headers for better readability and Merge

In [70]:
questionsds.rename(columns = {'Id':'QuestionId', 'OwnerUserId':'QuestionOwnerUserId', 'CreationDate':'QuestionCreationDate', 'Score':'QuestionScore', 'Body':'QuestionBody'}, inplace = True) 
questionsds.head()

   QuestionId  ...                                       QuestionBody
0          80  ...  <p>I've written a database generation script i...
1          90  ...  <p>Are there any really good tutorials explain...
2         120  ...  <p>Has anyone got experience creating <strong>...
3         180  ...  <p>This is something I've pseudo-solved many t...
4         260  ...  <p>I have a little game written in C#. It uses...

[5 rows x 7 columns]

In [71]:
answerds.rename(columns = {'Id':'AnswerId', 'OwnerUserId':'AnswerOwnerUserId', 'CreationDate':'AnswerCreationDate', 'ParentId':'QuestionId', 'Score':'AnswerScore','Body':'AnswerBody'}, inplace = True) 
answerds.head()

   AnswerId  ...                                         AnswerBody
0        92  ...  <p><a href="http://svnbook.red-bean.com/">Vers...
1       124  ...  <p>I wound up using this. It is a kind of a ha...
2       199  ...  <p>I've read somewhere the human eye can't dis...
3       269  ...  <p>Yes, I thought about that, but I soon figur...
4       307  ...  <p><a href="http://www.codeproject.com/Article...

[5 rows x 6 columns]

In [77]:
tagsds.rename(columns = {'Id':'QuestionId'}, inplace = True)
tagsds.head()

   QuestionId             Tag
0          80            flex
1          80  actionscript-3
2          80             air
3          90             svn
4          90     tortoisesvn

In [98]:
#userds.rename(columns = {'Id':'QuestionId'}, inplace = True)
usersds.head()

        id display_name  ... down_votes views
26      26        Shawn  ...         67  3547
84    1109         Theo  ...        136  6905
86  364174        stats  ...          1    60
96      61      Bernard  ...        219  1731
98   20709  Black Horus  ...          2    96

[5 rows x 8 columns]

In [78]:
groupDs = tagsds.groupby('QuestionId')
tagsdsModified = groupDs['Tag'].unique()
tagsdsModified.head()

QuestionId
80                           [flex, actionscript-3, air]
90     [svn, tortoisesvn, branch, branching-and-merging]
120                              [sql, asp.net, sitemap]
180    [algorithm, language-agnostic, colors, color-s...
260         [c#, .net, scripting, compiler-construction]
Name: Tag, dtype: object

In [79]:
QuestionAnswer = pd.merge(questionsds, answerds, on='QuestionId', how='left')
QuestionAnswer.head(20)

    QuestionId  ...                                         AnswerBody
0           80  ...  <p>I wound up using this. It is a kind of a ha...
1           80  ...  <p>The <a href="http://en.wikipedia.org/wiki/S...
2           80  ...  <p>What about making your delimiter something ...
3           90  ...  <p><a href="http://svnbook.red-bean.com/">Vers...
4           90  ...  <p>You can also try <em><a href="http://www.co...
5           90  ...  <p>My easy click-by-click instructions (<stron...
6          120  ...  <p>The Jeff Prosise version from MSDN magazine...
7          180  ...  <p>I've read somewhere the human eye can't dis...
8          180  ...  <p>Isn't it also a factor which order you set ...
9          180  ...  <p>My first thought on this is "how generate N...
10         180  ...  <p>It would be best to find colors maximally d...
11         180  ...  <p>Some related resources:</p>\n\n<p><a href="...
12         180  ...  <p>Here is some code to allocate RGB colors ev...
13         180  ...  <p>Last I checked <a href="http://www.jfree.or...
14         180  ...  <p>I know this an old post but I found it whil...
15         180  ...  <p>To achieve "most distinguishable" we need t...
16         260  ...  <p>Yes, I thought about that, but I soon figur...
17         260  ...  <p><a href="http://www.codeproject.com/Article...
18         260  ...  <p>You might be able to use IronRuby for that....
19         260  ...  <P>You could use any of the DLR languages, whi...

[20 rows x 12 columns]

In [80]:
QuestionAnswerwithTag = pd.merge(QuestionAnswer, tagsdsModified, on='QuestionId', how='left')
QuestionAnswerwithTag.head()

   QuestionId  ...                                                Tag
0          80  ...                        [flex, actionscript-3, air]
1          80  ...                        [flex, actionscript-3, air]
2          80  ...                        [flex, actionscript-3, air]
3          90  ...  [svn, tortoisesvn, branch, branching-and-merging]
4          90  ...  [svn, tortoisesvn, branch, branching-and-merging]

[5 rows x 13 columns]

In [0]:
QuestionAnswerwithTagandUser = pd.merge(QuestionAnswerwithTag, usersds, on='QuestionId', how='left')
QuestionAnswerwithTag.head()